.container {
  height: 100%;
  padding-top: 4rem;

  .form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 7px;
    padding: 2rem;
    box-shadow: rgba(86, 20, 208, 0.25) 5px 5px 15px;
  }

  .title {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .link {
    margin-top: 2rem;
    text-align: center;
  }

  .signUp {
    color: $primary-color;
    font-weight: 500;
    text-decoration: none;
  }
}
