.searchContainer {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  padding: 1rem;
  margin-right: 20px;
  font-size: 1rem;
  border: 2px solid #dee1e2;
  border-radius: 10px;
}
