@import "../../styles/variables.scss";

.businesses {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .businessesContainer {
    padding-top: 2rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
  }

  // Media queries

  @media screen and (max-width: $xl) {
    .businessesContainer {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: $lg) {
    .businessesContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: $sm) {
    .businessesContainer {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
